!!!

%html
	%head
		%meta(charset="utf-8")
		%meta(name="viewport" content="width=device-width, user-scalable=no")

		%link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
		%link(rel="stylesheet" href="styles/main.css")

		%body
			%header.header
				.header__logo-wrapper
					%img.header__logo{alt: "shea and cocoa logo", src: "./images/logo.png"} 
				%nav.header__navigation
					%ul.navigation_list.container
						%li 
							%a{href: "#"} Home
						%li 
							%a{href: "#"} Products
						%li 
							%a{href: "#"} About Us
						%li 
							%a{href: "#"} Contact Us
			%section.main
				.main__jumbotron.image-wrapper(style="overflow: visible; position: relative")
					.image-wrapper(style="position: absolute; z-index: -500;")
						%img.jumbotron__image(alt="Large image of our product" src="./images/product.jumbotron.jpg")
					.jumbotron__panel-wrapper
						.jumbotron__panel
							%h1.jumbotron__text [Just like nature intended]
						%button.jumbotron__cta.btn-main shop now


				.main__favorites
					.separator
						&nbsp;
					.centered_row
						%h2.mt-5.mb-5.favorites__header Our Favorites	

					.container.mt-4
						.row.special_row
							.col-sm-6.favorites_column
								.h-100.mr-5.favorites__text__1
									%h3 [Probiotic 
									%h3.mb-2 Cleansing Bars]
									%p [I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.]
									%button.btn-main.mb-5.mt-2 Shop Soaps
							.col-sm-6.favorites_column.float-right
								.image-wrapper.product-images
									.product__bkgd-wrapper__1.product__img-wrappers
										%img(src="images/85274765-green-leaf-seamless-pattern-tropical-polygons-plant-in-low-poly-style-for-fresh-background-wallpaper.jpg")
									.product__img-wrapper__1.product__img-wrappers.product__wrapper
										%img(src="images/IMG-20190127-WA0012.jpg")

					.separator.mt-4.mb-4
						&nbsp;

					.container.mt-4
						.row.special_row
							.col-sm-6.favorites_column.float-right
								.h-100.ml-5.favorites__text__2
									%h3 [Nature's Essence 
									%h3.mb-2 Lavendar Bars]
									%p [I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.]
									%button.btn-main.mb-5.mt-2 Shop Soaps
							.col-sm-6.favorites_column
								.image-wrapper.product-images
									.product__bkgd-wrapper__2.product__img-wrappers
										%img.product__bkgd__2(src="images/wood_bkgd.png")
									.product__img-wrapper__2.product__img-wrappers.product__wrapper
										%img.product__img__2(src="images/IMG-20190601-WA0049.jpg")


			%footer
				%hr.footer__separator.mb-3.mt-4
				.container
					.row
						.col-sm-12
							%h2 Contact
							%ul
								%li [123-456-7890]
								%li [info@mydomain.com]
						.copyright.centered_row.mt-3
							%p© 2020 by Shea & Cocoa. Proudly created by Ganziano
			:plain
				<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>


		
/
	
	Todo:

	Move product around in second favorite
	Jumbotron
	Style buttons
	Footer
	Accessibility
	 

	Asides

	__Wed 25 Mar__

	_7:25 AM_

	What needs to happen:

	Figure something out w/ the jumbotron
	Do the soap
	Find wooden background, green plant illustrations

	h1 color - #576855


	__Fri 20 Mar__

	_9:24 AM_

	Fun for me would be

	* constructing this whole thing out of partials.
	* learning about SCSS, and seeing if it can help me structure my css


	_9:21 AM_

	#opensource

	Sort a CSS file?

	I'm wondering if a task runner could automatically extract all the js and css and make them two files?

	Would this be helpful in Rails?

	HAML improvements

	doesn't respect comments enough.
	"nesting within plain text is illegal"


