!!!

%html
	%head
		%meta(charset="utf-8")

		%link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")

		%style{media: "screen"}
			:cdata
				body{
					background-color: beige;
				}

		%body
			%header.header-menu
			%h1 shea and cocoa
			%nav
				%ul
					%li Home
					%li Products
					%li About Us
					%li Contact Us
			%section.01-section-jumbotron.panel.row
				%h2 brand slogan


		
	


